/*@import 'ontimize/components/material/style/default-theme.scss';
@import 'ontimize/components/material/style/mixins.scss';
@import 'ontimize/components/material/style/variables.scss';*/



span.icon-btn{
  cursor: pointer;
  i {
    padding-top: 4px;
  }

  &.md-disabled {
    cursor: default;
  }
}

.md-input-placeholder.md-float.md-focused, :not(.md-empty).md-input-placeholder.md-float {
  width: 100% !important;
}